.contLink {
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.contLink:hover {
	background-color: #8a2be266;
}

.contLink img {
	width: 70%;
	border-radius: 10px;
}

@media screen and (min-width: 1300px) {
	.contLink {
		width: 4rem;
		height: 4rem;
	}
}

@media screen and (max-width: 900px) {
	.contLink {
		width: 2.5rem;
		height: 2.5rem;
	}

	.contLink img {
		width: 80%;
	}
}
