.button {
	width: 8rem;
	height: 2rem;
	background-color: var(--background-color);
	border-radius: 8px;
	border: 2px solid var(--button-color);
	opacity: 0.7;
	transition: all 300ms ease-in-out;
	color: var(--button-color);
	cursor: pointer;
	padding: 0.5em;
}

.button a {
	font-size: 1.1em;
	text-decoration: none;
	color: var(--button-color);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.button:hover {
	opacity: 1;
}

@media screen and (max-width: 900px) {
	.button {
		width: 30vw;
		height: 1.75rem;
		margin-block: 0.5rem;
	}

	.button a {
		font-size: 0.8em;
	}
}
