.main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	flex: 1 1 auto;
}

.wrapper {
	width: 90%;
	margin-block-start: 5rem;
	margin-inline: auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	box-sizing: border-box;
}

.projects {
	width: 90%;
	min-height: 60rem;
	display: flex;
	box-sizing: border-box;
	margin-inline: auto;
	margin-block-start: 5rem;
	margin-block-end: 1.5rem;
	padding: 2rem;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 2rem;
}

.projectBox {
	width: 100%;
	height: auto;
}

.projectCard {
	width: 100%;
	height: 20rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
	box-sizing: border-box;
	border-bottom: 1px solid #6c6868;
	padding-block: 1rem;
	padding-inline: 0.5rem;
	overflow: hidden;
}

.projects .projectBox:nth-child(even) .projectCard {
	flex-direction: row-reverse;
}
.imageLink {
	width: 50%;
	height: 100%;
}

.imageBox {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	overflow: hidden;
}

.projectDescrip {
	width: 40%;
	height: 20rem;
	padding: 0 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5rem;
	box-sizing: border-box;
}

.projectDescrip h3 {
	color: var(--main-color);
	font-size: 1.8em;
	font-family: var(--text-title);
}

.description {
	width: 100%;
	font-weight: 500;
	font-family: var(--text);
	padding-block: 1rem;
}

.projectStacks {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
	padding: 0.25rem;
}

.projectStacks strong {
	font-size: 0.9em;
}

.projectBtn {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0.25rem;
}

.stackItem {
	padding: 0.25em;
	border: 1px solid rgba(128, 128, 128, 0.247);
	border-radius: 8px;
}

@media screen and (min-width: 1300px) {
	.projectBtn {
		height: 3rem;
	}

	.projects {
		min-height: 100vh;
		display: flex;
		gap: 2.5rem;
	}

	.projectDescrip h3 {
		font-size: 2.5em;
	}
}

@media screen and (max-width: 900px) {
	.wrapper {
		width: 100%;
	}

	.projects {
		width: 100%;
		padding-inline: 0;
		margin-top: 0;
	}

	.projectDescrip h3 {
		font-size: 1em;
		margin-block-start: 0;
	}

	.projectCard,
	.projects .projectBox:nth-child(even) .projectCard {
		width: 100%;
		min-height: 70vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		padding: 0;
		box-sizing: border-box;
		border: 1px solid transparent;
		box-shadow: 3px 2px 8px 0 gray;
		border-radius: 10px;
	}

	.projectDescrip {
		width: 100%;
		gap: 0.25rem;
		font-size: 0.9em;
	}

	.projectStacks strong {
		font-size: 0.8em;
	}

	.imageLink {
		width: 100%;
		height: 7rem;
	}

	.imageBox {
		width: 100%;
		height: 7rem;
		background-position: top;
		background-size: 100%;
	}
}
