@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
	--text-title: 'Lobster', cursive;
	--text: 'Bacasime Antique', serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html[data-theme='dark'] {
	--background-color: #161f3d;
	--main-color: #ded2df;
	--box-background-color: #182242;
	--color: #b0a8a8;
	--button-color: #c77dff;
	--footer-color: #182242;
	--footer-border: #433b4b;
}

html[data-theme='light'] {
	--background-color: #f0fdfd;
	--main-color: #691f6e;
	--box-background-color: #f0fdfd;
	--color: #4d4a4a;
	--button-color: #8e008b;
	--footer-color: #f2ebfb;
	--footer-border: #ebd9fc;
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: 20px;
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	background-color: var(--background-color);
	color: var(--color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h2 {
	font-size: 2.5em;
	color: var(--main-color);
	font-family: var(--text-title);
	margin: 0;
}

@media screen and (min-width: 1300px) {
	h2 {
		font-size: 3.5em;
	}
}

@media screen and (max-width: 900px) {
	h2 {
		font-size: 1.5em;
	}
}
