.header {
	width: 100%;
	height: 4rem;
	box-shadow: 2px 1px 15px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 4em;
	box-sizing: border-box;
	position: fixed;
	z-index: 100;
	background-color: var(--box-background-color);
	transition: transform 0.3s ease-in;
}

.headerHide {
	transform: translateY(-100%);
}

.headerLogo {
	width: 8rem;
	box-sizing: border-box;
}

.headerNav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	box-sizing: border-box;
}
.headerPop {
	width: 70%;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 70%;
	list-style: none;
	padding-left: 0;
	font-size: 0.8em;
	text-transform: uppercase;
	box-sizing: border-box;
}

.headerLogo img {
	width: 50%;
}

.icon {
	font-size: 1.8em;
	color: blue;
	cursor: pointer;
}

.iconActive {
	font-size: 1.8em;
	color: yellow;
	cursor: pointer;
}

.iconBtn {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	border: transparent;
	background-color: transparent;
	color: var(--main-color);
}

.lanBtn {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 10px;
	border: 1px solid gray;
	padding: 0.25rem;
	background-color: inherit;
	color: var(--main-color);
	cursor: pointer;
}

.lanBtn:disabled {
	background-color: #d0caca;
	cursor: none;
}

.iconBtn:hover {
	background-color: rgba(255, 225, 2, 0.08);
}

.navItem {
	margin: 0.25rem;
}

.navItem a {
	border-bottom: 1px solid transparent;
}

.navItem a:hover {
	border-color: var(--button-color);
}

.active {
	text-decoration: 2px underline;
	color: var(--main-color);
}

.link {
	text-decoration: none;
	color: var(--main-color);
}

.mobileBtn {
	display: none;
}

.buttons {
	width: 10%;
	height: 100%;
	display: flex;
	gap: 0.25rem;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 1300px) {
	.header {
		height: 5rem;
	}

	.headerLogo {
		width: 10rem;
	}

	.icon {
		font-size: 2.5em;
	}

	.iconActive {
		font-size: 2.5em;
	}

	.iconBtn {
		width: 3rem;
		height: 3rem;
	}
}

@media screen and (max-width: 900px) {
	.header {
		height: 4rem;
		padding: 0 1em;
	}

	.headerLogo {
		width: 4rem;
		margin-left: 1em;
	}

	.headerLogo img {
		width: 100%;
	}

	.headerNav {
		width: 70%;
		height: 100vh;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
		align-items: flex-start;
		box-sizing: border-box;
		position: fixed;
		background-color: var(--box-background-color);
		z-index: 30;
		top: 0;
		left: -100%;
		padding-top: 2em;
		transition: left 0.3s ease-in-out;
	}

	.navigation {
		margin: 0;
		padding-inline-start: 0.5rem;
		font-size: 0.6em;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-evenly;
		width: 100%;
		height: 30vh;
		list-style: none;
		font-size: 1.3em;
		text-transform: uppercase;
		box-sizing: border-box;
	}

	.activeNav {
		left: 0;
	}

	.headerPop {
		display: block;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: #00000075;
		transition: left 0.3s ease-in-out;
	}

	.closePop {
		color: var(--main-color);
		font-size: 2em;
		position: absolute;
		top: 0.5em;
		right: 2rem;
	}

	.mobileBtn {
		display: block;
	}

	.buttons {
		margin-inline-end: 1rem;
	}
}
