.main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	flex: 1 1 auto;
	padding-block-start: 5rem;
}

.contIcon,
.contacts {
	width: 60%;
	height: 4rem;
	margin: 0.8rem auto;
	padding: 0.5em;
	box-sizing: border-box;
	display: flex;
	gap: 0.5em;
	justify-content: center;
	font-size: 0.8em;
	box-sizing: border-box;
}

.contacts {
	flex-direction: column;
	align-items: center;
}

.contIcon {
	flex-direction: row;
	align-items: center;
}

.item:hover {
	color: blueviolet;
	border-bottom: 1px solid blueviolet;
	box-sizing: border-box;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	flex: 1 1 auto;
}

h2 {
	font-size: 2.5em;
	color: var(--main-color);
}

@media screen and (min-width: 1300px) {
	h2 {
		font-size: 3.5em;
	}
}

@media screen and (max-width: 900px) {
	h2 {
		font-size: 1.5em;
	}

	.contacts {
		width: 100%;
	}

	.item {
		font-size: 1.2em;
	}

	.contIcon {
		width: 100%;
	}
}
