.main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	min-height: 100vh;
	flex: 1 1 auto;
}

.about {
	width: 100%;
	display: flex;
	box-sizing: border-box;
	margin-top: 5rem;
	margin-inline: auto;
	padding: 1.5rem;
	align-items: center;
	justify-content: space-between;
}

.aboutContext {
	width: 55%;
	padding: 1em;
	display: flex;
	gap: 1.5em;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.aboutContext div {
	padding-block: 1rem;
	font-weight: 700;
	line-height: 1.3;
	font-family: var(--text);
}

.aboutContext p {
	padding-block: 0.25rem;
}

.aboutBtn {
	width: 80%;
	margin: 0 auto;
	padding-block: 2rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 5em;
}

.aboutImage {
	width: 40%;
	padding: 0.25rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.aboutImageCV {
	width: 40%;
	padding-block: 0.5rem;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: -2px 5px 10px 2px;
	border-radius: 8px;
}

.aboutImage img {
	width: 50%;
	height: auto;
	border-radius: 50%;
	box-shadow: -6px 7px 20px 0px;
}

.boxCV {
	width: 100%;
	display: flex;
	gap: 2rem;
	padding: 2rem 1rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.aboutImageCV img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

@media screen and (min-width: 1300px) {
	.about {
		width: 90%;
		padding: 2rem;
	}

	.aboutContext {
		width: 50%;
		padding: 2em;
	}

	.aboutContext div {
		font-size: 1.2em;
	}

	.aboutImage {
		width: 40%;
	}
}

@media screen and (max-width: 900px) {
	.about {
		width: 100%;
		display: flex;
		box-sizing: border-box;
		margin-top: 5rem;
		padding: 0.25rem;
		align-items: center;
		justify-content: flex-end;
		flex-direction: column-reverse;
		gap: 10px;
	}

	.aboutContext {
		width: 100%;
	}

	.aboutImage {
		width: 80%;
		padding-block-start: 0.25rem;
	}

	.aboutImage img {
		width: 11rem;
	}

	.aboutContext div {
		font-size: 0.9em;
	}

	.boxCV {
		justify-content: flex-start;
	}

	.aboutImageCV {
		width: 90%;
	}

	.aboutBtn {
		margin: 0.25rem auto;
	}
}
