.footer {
	width: 90%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	grid-template-rows: repeat(2, 1fr);
	font-size: 0.8em;
	margin: 0 auto;
	box-sizing: border-box;
}

.footerWrapper {
	width: 100%;
	height: 20vh;
	background-color: var(--footer-color);
	border-top: 1px solid var(--footer-border);
	padding-block: 2rem;
	padding-inline: 4rem;
	box-sizing: border-box;
}

.headerLogo {
	width: 3rem;
	box-sizing: border-box;
	grid-column: 1;
	grid-row: 1;
}

.headerLogo img {
	width: 100%;
}

.headerNav {
	grid-column: 3;
	grid-row: 1;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	font-size: 0.6em;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	list-style: none;
	text-transform: uppercase;
	box-sizing: border-box;
}

.navigation li a {
	color: var(--color);
	border-bottom: 1px solid transparent;
}

.footer h3 {
	grid-column: 2;
	grid-row: 2;
	text-align: center;
	color: var(--main-color);
}

.navItem {
	margin: 0.5em;
}

.navItem a:hover {
	border-color: var(--button-color);
}

.navItem a {
	text-decoration: none;
	font-size: 1.2em;
}

@media screen and (min-width: 1300px) {
	.navItem a {
		font-size: 1.5em;
		padding: 0;
	}
}

@media screen and (max-width: 900px) {
	.headerNav {
		grid-column: 3;
		grid-row: 1/3;
		font-size: 0.6em;
	}

	.footerWrapper {
		min-height: 35vh;
		padding: 1rem;
	}

	.footer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	.navigation {
		height: 5rem;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		padding-left: 0;
	}

	.navItem {
		font-size: 1.4em;
	}
}
