.skillsBox {
	width: 80%;
	margin: 0 auto;
	padding-block: 2rem;
	padding-inline: 1rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.box {
	width: 100%;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding-block: 2rem;
	padding-inline: 1rem;
	background-color: var(--box-background-color);
}

.card {
	width: 15%;
	padding-inline: 0.5rem;
	padding-block-end: 1rem;
	display: flex;
	gap: 0.25rem;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-shadow: 2px 3px 7px 0px;
	border-radius: 8px;
}

.cardImg {
	width: 100%;
	text-align: center;
}

.cardImg img {
	width: 60%;
	height: auto;
	object-fit: contain;
}

.card p {
	margin-block: 0.25rem;
	font-size: 1em;
	font-weight: bolder;
}

@media screen and (min-width: 1300px) {
	.cardImg img {
		width: 40%;
	}

	.card p {
		font-size: 1.1em;
	}
}

@media screen and (max-width: 900px) {
	.box {
		justify-content: flex-start;
		margin-top: 2rem;
	}

	.skillsBox {
		width: 100%;
		gap: 1rem;
	}

	.card p {
		font-size: 0.6em;
	}

	.card {
		width: 40%;
	}

	.cardImg {
		width: 5rem;
	}
}
