.main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	min-height: 100vh;
	flex: 1 1 auto;
}

.about {
	width: 100%;
	display: flex;
	box-sizing: border-box;
	margin-top: 5rem;
	padding: 2rem;
	align-items: center;
	justify-content: space-between;
}

.aboutContext {
	width: 55%;
	padding: 1rem;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.aboutContext div {
	font-weight: 700;
	font-family: var(--text);
	padding-block: 1.5rem;
}

.aboutTitle {
	font-size: 2.2em;
}

.aboutBtn {
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 5rem;
}

.aboutImage {
	width: 40%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.aboutImage img {
	width: 50%;
	height: auto;
	border-radius: 50%;
	box-shadow: -6px 7px 20px 0px;
}

.projects {
	width: 100%;
	display: flex;
	box-sizing: border-box;
	margin-inline: auto;
	padding-inline: 1rem;
	padding-block: 2rem;
	gap: 2.5rem;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--box-background-color);
}

.contIcon {
	width: 60%;
	height: 5rem;
	margin: 0 auto;
	padding: 0.5em;
	box-sizing: border-box;
	display: flex;
	gap: 0.5em;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	font-size: 0.8em;
	box-sizing: border-box;
}

.projectBox {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
	box-sizing: border-box;
}

@media screen and (min-width: 1300px) {
	.about {
		min-height: 67vh;
		margin-top: 5rem;
		padding: 2em;
	}

	.aboutTitle {
		font-size: 2.5em;
	}

	.aboutContext {
		width: 55%;
		padding: 2em;
	}

	.aboutContext div {
		font-size: 1.2em;
	}

	.aboutImage {
		width: 40%;
	}

	.aboutImage img {
		width: 40%;
	}
}

@media screen and (max-width: 900px) {
	.about {
		width: 100%;
		display: flex;
		box-sizing: border-box;
		margin-top: 5rem;
		padding: 0.25rem;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		gap: 1rem;
	}

	.aboutTitle {
		font-size: 1.4em;
	}

	.aboutContext {
		width: 80%;
	}

	.aboutImage {
		width: 80%;
		padding-block-start: 0.25rem;
	}

	.aboutImage img {
		width: 10rem;
	}

	.aboutContext div {
		font-size: 0.9em;
		justify-content: center;
	}

	.contIcon {
		width: 80%;
	}

	.aboutBtn {
		gap: 1rem;
	}
}
