.contactsBox {
	width: 60%;
	margin-inline: auto;
	padding: 1rem;
	box-sizing: border-box;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.box {
	width: 100%;
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-inline: auto;
	padding-block: 1rem;
}

@media screen and (max-width: 900px) {
	.contactsBox {
		width: 100%;
		margin: 0;
	}
}
