.sliderContainer {
	height: 50vh;
	width: 60%;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 4px 6px 18px 0px;
	border-radius: 8px;
}

.active {
	display: inline-block;
}

.inactive {
	display: none;
}

.slides {
	height: 50vh;
	width: 100%;
	position: relative;
}

.slideImage {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
}

.prev,
.next {
	color: transparent;
	cursor: pointer;
	z-index: 30;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 1rem;
	margin-top: -3rem;
	font-size: 40px;
	font-weight: bold;
	border-radius: 0px 5px 5px 0px;
}

.sliderContainer:hover .prev,
.sliderContainer:hover .next {
	color: #691f6e;
}

.sliderContainer:hover .prev:hover,
.sliderContainer:hover .next:hover {
	color: white;
	background-color: #691f6e;
	transition: all 0.3s ease-in;
}

.next {
	right: 0;
	border-radius: 5px 0px 0px 5px;
}

.allDots {
	width: 100%;
	height: 20%;
	position: absolute;
	display: flex;
	top: 85%;
	justify-content: center;
	align-items: center;
	z-index: 50;
}

.dot {
	cursor: pointer;
	height: 0.8rem;
	width: 0.8rem;
	margin: 0px 3px;
	background-color: transparent;
	border: 2px solid transparent;
	border-radius: 50%;
	display: inline-block;
}

.sliderContainer:hover .dot:hover {
	background-color: #691f6e;
	opacity: 0.8;
	border-color: #28044a;
}

.sliderContainer:hover .dot {
	background-color: #691f6e;
}
.sliderContainer:hover .activeDot {
	background-color: #691f6e;
	opacity: 0.8;
	border-color: #28044a;
}

@media screen and (max-width: 900px) {
	.sliderContainer {
		width: 90%;
	}
}
